{% load static %}
<div class="terms">
    <ul>
         <li>
              <p> Copyright © 1995-2024 eBay Inc.</p>
         </li>
         <li>
              <p>All Rights Reserved.</p>
         </li>
         <li>
              <a href="#"> User Agreement,</a>
              <a href="#"> Privecy,</a>
              <a href="#"> Payments Terms of Use,</a>
              <a href="#"> Cookies,</a>
         </li>
         <li>
              <p>and</p>
         </li>
         <li>
              <a href="#">AdChoice</a>
         </li>

    </ul>
</div>